<div class="flex justify-between items-center mb-6">
    <h2 class="text-xl font-bold">Burger Selection</h2>

    <div class="flex gap-2">
        <a routerLink="/products/all" routerLinkActive="bg-orange-500 text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            class="px-4 py-1 bg-gray-800 hover:bg-gray-700 rounded-full text-sm transition-colors">All</a>

        <a routerLink="/products/beef" routerLinkActive="bg-orange-500 text-white"
            class="px-4 py-1 bg-gray-800 hover:bg-gray-700 rounded-full text-sm transition-colors">Beef</a>

        <a routerLink="/products/chicken" routerLinkActive="bg-orange-500 text-white"
            class="px-4 py-1 bg-gray-800 hover:bg-gray-700 rounded-full text-sm transition-colors">Chicken</a>

        <a routerLink="/products/vegan" routerLinkActive="bg-orange-500 text-white"
            class="px-4 py-1 bg-gray-800 hover:bg-gray-700 rounded-full text-sm transition-colors">Vegan</a>
    </div>
</div>