<button
    (click)="placeOrder()"
    class="w-full bg-orange-500 hover:bg-orange-600 text-white text-lg font-bold py-4 rounded-2xl shadow-lg shadow-orange-500/20 transition-all active:scale-[0.98] mt-4 uppercase">
    Place Order
</button>

<div *ngIf="orderPlaced"
     class="fixed inset-0 flex items-center justify-center bg-black/50 z-50 px-4">
  <div
    class="bg-gray-800 rounded-2xl overflow-hidden shadow-xl p-6 max-w-sm w-full text-center transform transition-all duration-300 scale-90 animate-scaleUp">
    
    <h2 class="text-white text-xl font-semibold">Order Placed Successfully!</h2>
 
    <p class="text-gray-300 mt-2 text-sm">Thank you for your purchase.</p>

    <button (click)="orderPlaced = false"
            class="mt-4 w-full bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 rounded-xl transition-colors active:scale-95">
      Close
    </button>
  </div>
</div>
